# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/

# Logs
*.log

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.bak

# Cache
.cache/
.mypy_cache/
__pypackages__/

# Ignore local AWS configs (se não quiser versionar)
.aws/
